.container2{
    /* border: 2px solid red; */
    border-color:  #f2f2f2;
    width: 100vh;
    margin-left: 25vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.container2>h3{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    
}
.container2>p{
    margin-top: 2vh;
}